body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center
}

/*testing*/
h1 {
  text-align: center
}

img.city {
  width: 50%
}

/*end testing*/
.hover {
  display: inline-block;
  position: relative;
}

.hover .text {
  background: rgba(0,0,0,0.5);
  position: absolute;
  margin: 0 auto;
  padding-top: 140px;
  bottom: 0px;
  left: 0px;
  height:400px;
  width:800px;
  opacity: 0;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}


.hover:hover .text {
  opacity: 1
}

.post-box {
  margin-top: 30px;
  border-style: solid;
  border-width: 2px;
}

.post-indiv {
  margin-bottom: 10px;
  border-style: dotted;
  border-width: 2px;
}

button.edit-delete {
  margin-right: 5px;
}
